$nav-height: 5rem;

.headerContainer {
  border-bottom: 1px solid var(--gray-800);
  height: $nav-height;
}

.headerContent {
  align-items: center;
  display: flex;
  height: $nav-height;
  margin: 0 auto;
  max-width: 1120px;
  padding: 0 2rem;

  nav {
    height: $nav-height;
    margin-left: $nav-height;

    a {
      color: var(--gray-300);
      display: inline-block;
      height: $nav-height;
      line-height: $nav-height;
      padding: 0 0.5rem;
      position: relative;
      transition: color 0.2s;

      & + a {
        margin-left: 2rem;
      }

      &:hover {
        color: var(--white);
      }

      &.active {
        color: var(--white);
        font-weight: bold;
      }

      &.active::after {
        background: var(--yellow-500);
        border-radius: 3px 3px 0 0;
        bottom: 1px;
        content: '';
        height: 3px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }

  button {
    margin-left: auto;
  }
}
